/vendor
/storage
/node_modules
/npm-debug.log
/public/storage
/public/uploads
/public/files
/public/resized
/public/blurred
/public/robots.txt
Homestead.yaml
Homestead.json
.env

/_ide_helper.php
/public/google*.html

/.idea
nbproject
.DS_Store
.buildpath
.project

sublime-gulp.log
.sublime-gulp.cache

gulpit/*

public/build/*

elixir.json

/public/js/app.js
/public/js/libs.js
/public/js/main.js
/public/css/general.css
/public/css/general.css.map
/public/css/pdf.css
/public/css/pdf.css.map
/resources/assets/sass/vendors/_npm-vendors.css
/resources/assets/sass/vendors/_npm-vendors.css.map