//
// THEME COLORS
// basic colors from mockups
//

.c-purple {color: $clr-purple;}
.bg-purple {background-color: $clr-purple;}
.fill-purple {fill: $clr-purple;}
.c-brown {color: $clr-brown;}
.bg-brown {background-color: $clr-brown;}
.fill-brown {fill: $clr-brown;}

//
// NEUTRAL COLORS
// basic black and white colors and shades
//

.c-white {color: $clr-white;}
.bg-white {background-color: $clr-white;}
.fill-white {fill: $clr-white;}

.c-black {color: $clr-black;}
.bg-black {background-color: $clr-black;}
.fill-black {fill: $clr-black;}